<!DOCTYPE html>
<html lang="en">
<head>

    <title>Advisor | Sickcall</title>
    <link rel="icon" href="images/32-noback.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" >
                  <img src="images/1080-noback.png" width="32" height="32" alt="">  
                  
                </a>
       
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
                    <div class="navbar-nav">
                      <a class="nav-item nav-link" href="/">Home</a>
                    </div>
                  </div>
          </nav> 

          <img src="images/billboard.jpg" class="img-fluid"  alt="Responsive image">

          <br>
          <br>
        <div class="container-fluid">
                <h4 class="title">Answer questions with Sickcall</h4> 
                <p class="follow" >On your time</p>

            </div>
          <br>  
          <br> 

    <div class="container marketing"> 
              <!-- Three columns of text below the carousel -->
              <div class="row">
                    <div class="col-lg-4">
                        <img class="rounded-circle" src="/images/benefits/4.png" alt="Time Pic" width="140" height="140">
                      <h2>Make extra money</h2>
                      <p>Answer questions and earn as much as you want. Your earnings are deposited to your bank account every week. </p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="rounded" src="/images/benefits/5.png" alt="Time Pic" width="140" height="140">
                      <h2>Set your own schedule</h2>
                      <p>Answer questions when it's convenient for you from anywhere. You can go online or offline anytime.</p>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-4">
                        <br>
                            <div class="jumbotron">
                                    <p class="lead">Start answering questions</p>
                                    <hr class="my-4">
                                    <p class="lead">
                                        <a href="/signup"> <button type="button" class="btn btn-outline-info btn-lg btn-block">Sign up</button> </a>
                                    </p>
                            </div>

                        </div><!-- /.col-lg-4 -->
                  </div><!-- /.row -->
                  
                  <hr class="featurette-divider">
        <!--- featurettes-->
        <h2 class="astericks">How it works:</h2>
        <br>
            <div class="row featurette">
                    <div class="col-md-7">
                      
                      <p class="lead">Go online, and Sickcall will notify you when you receive a new question.</p>
                    </div>
                    <div class="col-md-5">
                      <img class="featurette-image img-fluid mx-auto" src="/images/website_screenshots/3.png" alt="Screenshot 1">
                    </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                      <p class="lead">Once you receive a question, watch the video (up to 1 minute long) and respond.
                          After responding, you'll be taken back to the dashboard until your next question. </p>
                    </div>
                    <div class="col-md-5 order-md-1">
                      <img class="featurette-image img-fluid mx-auto" src="/images/website_screenshots/4.png" alt="Screen Shot 2">
                    </div>
                  </div>
    
            <hr class="featurette-divider">

            <div class="jumbotron">
                    <p class="lead">Start answering questions</p>
                    <hr class="my-4">
                    <p class="lead">
                      <a href="/signup"> <button type="button" class="btn btn-outline-info btn-lg btn-block">Sign up</button> </a>
                            
                    </p>
            </div>

            <div class="jumbotron">
                <h2> FAQs </h2>
                  <hr class="my-4">
                  <ul class="list-unstyled">
                                          
                      <li><h4>Am I diagnosing?</h4>  
                        <ul>
                          <li>No, you're providing information. It's up to the patient to seek further help for a diagnosis.</li>
                          
                        </ul>
                      </li>

                    </br>

                    <li><h4>Am I liable for anything that may go wrong with the patient after my response?</h4>
                      <ul>
                        <li>No, users agree to the terms before registering for Sickcall. See the the terms <a href="/terms">here.</a> </li>
                      </ul>
               </li>
              </br>

              <li><h4>Am I violating HIPAA?</h4>
                <ul>
                  <li>No, by asking a question on Sickcall, the patient grants you temporary access to their personal information. </li>
                  <li>Check out the privacy policy <a href="/terms">here.</a> </li>
                </ul>
        </li>
    </br>

        <li><h4>How does the payment structure work? </h4>
                <ul>
                  <li>Questions cost $4.00 
                    <ul>
                            <li>$2.50 goes to you. We determined that questions shouldn't take more than 5 minutes to answer. </li>
                            <li>$1.08 goes to Sickcall.  </li>
                            <li>$0.42 goes to the payment processing service.  </li>
                            
                    </ul>
                  </li>
                </ul>
        </li>


        </ul> 
                    

</div>
                      
                


            

            <hr class="featurette-divider"> 

    <!-- FOOTER -->
    <footer>
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2017 Sickcall &middot; <a href="/">Home</a>  &middot; <a href="/terms">Terms</a>  &middot; <a href="/signup">Signup</a></p>
          </footer>
    
        </div><!-- /.container -->

    </div>

</body>
