<!DOCTYPE html>
<html lang="en">
<head>

    <title>Terms | Hiikey</title>
    <link rel="icon" href="images/logo.jpg">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>

<div class="page-header">
    <div class="container-fluid">
        <H1>Hiikey Terms</H1>

        <H2>About Hiikey:</H2>

        <p>
            Hiikey is the simplest way to let your friends know where your at. You record a video and that
            video is posted on a map at your location. Then your friends can view that video and get directions
            to you.
            We do this through our websites and domains,
            the services available on or through our websites and domains or otherwise provided by us,
            and the software available on or through our websites and domains or otherwise provided by
            us (including our mobile application the Hiikey app. (collectively, the "Services").
        </p>


        <H2>Our Privacy Policy:</H2>

        <p>Hiikey respects your rights to privacy. The information we collect is used to further the experience of all Hiikey registered users.
            Removing data from Hiikey does not permanently remove data from our internal database.
            It will simply not be visible to public view.  If you wish to permanently remove data from our database,
            please email us at help@hiikey.com with the letterhead: permanently remove my data: [your Hiikey username].</p>


        <h2>Our User Agreement:</h2>

        <p>By using Hiikey, you agree to post content that is not considered objectionable by the Hiikey moderators or Hiikey users.
            Objectionable content may include and is not limited to: nudity, extreme profanity, and hateful speech.
            If we conclude from our internal investigation that such content violates the Hiikey user agreement terms,
            the content will be removed from Hiikey and the user who posted the content will be banned from Hiikey.
            If the Hiikey moderators conclude from our internal investigation that such activity violates the agreement terms,
            the content will be removed from Hiikey and the registered user who posted the content will be banned from Hiikey INDEFINITELY.
            You also agree that by using Hiikey, SocialGroupe Incorporated is not liable for anything that may happen before,
            during, or after any event that is posted on Hiikey.</p>

        <h3>Contacting Hiikey:</h3>

        <p>
            Please feel free to contact us if you have any questions about this Privacy Policy,
            Refund Policy, User Agreement, or our information practices.
            You may contact us by emailing to help@hiikey.com.

        </p>

    </div>
</div>
<div class="container-fluid">

</div>

<div class="navbar-header" >
    <div class="container-fluid">

        <a class="btn-default" href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
            <img href="" src="images/appstoreButton.png" class="img-responsive" alt="Available on The App Store" width="110" height="22">
        </a>
        <a class=" btn btn-lg navbar-text" href="/terms">Terms</a>
        <h6>© SocialGroupe, Inc. </h6>
    </div>
</div>

</body>
</html>