<!DOCTYPE html>
<html lang="en">
<head>

    <title>Terms | Hiikey</title>
    <link rel="icon" href="images/logo.jpg">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class=" navbar-header">
            <a class=" btn btn-lg navbar-text  " href="/profile">Your Tickets</a>
        </div>

    </div><!--/.container-fluid -->
</nav>
<div class="page-header">
    <div class="container-fluid">
        <H1>Hiikey Terms</H1>

        <H2>About Hiikey:</H2>

        <p>
            Hiikey is an events app that allows everyone from the everyday person to the promoters,
            entertainment services, nightclubs, and etc.
            organize events publicly for anyone or privately for their Hiikey guest list.
            People discovering events can easily keep up with their friends by seeing what events they’re RSVP’ing to and hosting.
            We do this through our websites and domains,
            the services available on or through our websites and domains or otherwise provided by us,
            and the software available on or through our websites and domains or otherwise provided by
            us (including our mobile application the Hiikey app. (collectively, the "Services").

        </p>


        <H2>Our Privacy Policy:</H2>

        <p>Hiikey respects your rights to privacy. The information we collect is used to further the experience of all Hiikey registered users.
            Removing data from Hiikey does not permanently remove data from our internal database.
            It will simply not be visible to public view.  If you wish to permanently remove data from our database,
            please email us at help@hiikey.com with the letterhead: permanently remove my data: [your Hiikey username].</p>


        <h2>Our User Agreement:</h2>

        <p>By using Hiikey, you agree to post content that is not considered objectionable by the Hiikey moderators or Hiikey users.
            Objectionable content may include and is not limited to: nudity, extreme profanity, and hateful speech.
            If we conclude from our internal investigation that such content violates the Hiikey user agreement terms,
            the content will be removed from Hiikey and the user who posted the content will be banned from Hiikey.
            Hiikey will not tolerate registered users who abuse our ticketing service.  Abusing our service may include,
            but is not limited to selling tickets for fake events and selling tickets for events not described at the time of purchase.
            If the Hiikey moderators conclude from our internal investigation that such activity violates the agreement terms,
            the content will be removed from Hiikey and the registered user who posted the content will be banned from Hiikey INDEFINITELY.
            You also agree that by using Hiikey, SocialGroupe Incorporated is not liable for anything that may happen before,
            during, or after any event that is posted on Hiikey.</p>

        <h2>Payments:</h2>

        <p>
            Payment processing services for ticket sellers on Hiikey are provided by Stripe and are subject to the <a href="https://stripe.com/connect/account-terms">Stripe Connected Account Agreement </a>,
            which includes the <a href="https://stripe.com/terms">Stripe Terms of Service</a> (collectively, the “Stripe Services Agreement”).
            By agreeing to [this agreement / these terms / etc.] or continuing to operate as a ticket seller on Hiikey,
            you agree to be bound by the Stripe Services Agreement,
            as the same may be modified by Stripe from time to time. As a condition of Hiikey enabling payment processing services through Stripe,
            you agree to provide Hiikey accurate and complete information about you and your business,
            and you authorize Hiikey to share it and transaction information related to your use of the payment processing services provided by Stripe.

            Funds starting from the date of the first transaction, will be withheld for 7 days to verify your identity,
            and every 2 days after the initial verification stage has passed.

            Hiikey charges tickets buyers a credit card processing fee of 2.9% + 30 cents to satisfy Stripe's service fee.
        </p>

        <h2> Refunds:</h2>

        <p>
            Hiikey registered users who have purchased tickets may receive refunds from Hiikey ONLY if the service wasn't provided.
            If an event host cancels the event, we will automatically refund the money back to all who purchased tickets.
            If you attend the event or are no longer able to attend the event, that is up to you and the service provider (event host) to come to an agreement.
            If you believe a Hiikey service provider is using Hiikey's ticketing service maliciously, please email us at help@hiikey.com.
        </p>

        <h3>Contacting Hiikey:</h3>

        <p>
            Please feel free to contact us if you have any questions about this Privacy Policy,
            Refund Policy, User Agreement, or our information practices.
            You may contact us by emailing to help@hiikey.com.

        </p>

    </div>
</div>
<div class="container-fluid">

</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68774707-1', 'auto');
    ga('send', 'pageview');

</script>

<div class="navbar-header" >
    <div class="container-fluid">

        <a class="btn-default" href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
            <img href="" src="images/appstoreButton.png" class="img-responsive" alt="Available on The App Store" width="110" height="22">
        </a>
        <a class=" btn btn-lg navbar-text" href="/terms">Terms</a>
        <h6>© SocialGroupe, Inc. </h6>
    </div>
</div>

</body>
</html>