<!DOCTYPE html>
<html lang="en">
<head>

    <title>Ask | Sickcall</title>
    <link rel="icon" href="images/32-noback.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link href="stylesheets/ask.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script src="javascripts/askWeb.js"></script> 
</head>

<body>

        <div class="site-wrapper">
                
                      <div class="site-wrapper-inner">
                
                        <div class="cover-container">
                
                          <header class="masthead clearfix">
                            <div class="inner">
                              <h3 class="masthead-brand">Sickcall | Find out how serious your health concern is</h4>
                            </div>
                          </header>
                
                          <main role="main" class="inner cover">
                            <p class="lead">
                                    <form>
                                            <div class="form-group">
                                              <label for="inputPhoneNumber">Get answers from U.S. registered nurses</label>
                                              <input class="form-control" id="phone-number" aria-describedby="emailHelp" placeholder="Enter phone number">
                                            </div>

                                          </form>
                                          <button id="sign-in-form" type="submit" class="btn btn-primary ">Get Started</button>
                                          <div id="recaptcha-container"></div>
                                          
                            </p>
                          </main>
                        </div>
                
                      </div>
                
                    </div>

                    <div class="container marketing"> 
                    <hr class="featurette-divider">
              <!-- Three columns of text below the carousel -->
              <br>
              
              <div class="row">
                    <div class="col-lg-4">
                      <img class="rounded-circle" src="/images/benefits/1.png" alt="Time Pic" width="140" height="140">
                      <h2>Save Your Time</h2>
                      <p>Sickcall helps you decide whether it's a no or go to the E.R., urgent care, doctor's office, etc.</p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <img class="rounded-circle" src="/images/benefits/2.png" alt="Money Pic" width="140" height="140">
                      <h2>Save Your Money</h2>
                      <p>We help you decide the best course of action to avoid over spending on healthcare services. </p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <img class="rounded-circle" src="/images/benefits/3.png" alt="Calendar Pic" width="140" height="140">
                      <h2>On-Demand</h2>
                      <p>Whenever you need us, we're here 24/7, no scheduling required. </p>
                    </div><!-- /.col-lg-4 -->
                  </div><!-- /.row -->
                                
                    <hr class="featurette-divider">
                </div>

                                <footer>
                                    <p class="float-right"><a href="#">Back to top</a></p>
                                    <p>&copy; 2017 Sickcall &middot; <a href="/">Home</a> &middot; <a href="/terms">Terms & Privacy Policy</a>  &middot; <a href="https://instagram.com/sickcallhealth">Follow us @sickcallhealth</a>   </p>
                                </footer>


</body>



</html>