<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hiikey</title>
    <link rel="icon" href="images/logo.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h1> Welcome To Hiikey </h1>
                <p>Find the event you're looking for by typing in the event code.</p>
                <input type="text" id="eventCode" class="form-control input-sm chat-input" placeholder="Event Code" />
                </br>
                <div class="wrapper">
                <a href="#" class="btn btn-primary btn-lg">Check <i class="fa fa-sign-in"></i></a>
                </div>
                <h5>Get the app.</h5>
                <a class="btn-default" href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
                    <img href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8" src="images/appstoreButton.png" class="img-responsive" alt="Available on The App Store" width="125" height="25" >
                </a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text"> <a href="/about" class="navbar-link">ABOUT</a> </p>
        <p class="navbar-text"> <a href="/terms" class="navbar-link">TERMS</a> </p>
        <p class="navbar-text navbar-right"> © 2017 SocialGroupe, Inc. </p>

    </div>
</nav>
</body>
</html>