<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title id="title">  | Hiikey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '643088589176557');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=643088589176557&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Custom styles for this template
    <link href="navbar.css" rel="stylesheet"> -->

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">
                <img alt="EXIT">
            </a>
        </div>

        <div id="userInfo" class="media">

        </div>
    </div>
</nav>

<div id="eventInfoDiv" class="container-fluid">


</div>

<!-- tab jaunts -->

<div  id="locationDiv" class="page-header" hidden="yes">
</div>

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li id="messages" role="presentation" class="active"><a>Messages</a></li>
        <li id="rsvps" role="presentation"><a>Guests</a></li>
    </ul>
</div>


<div id="messageDiv" class="page-header" hidden="yes">
</div>

<div id="rsvpDiv" class="page-header" hidden="yes">
</div>

<div hidden="yes" id="rsvpButton" class="page-header"  >
    <button  type="button" class="btn btn-default">RSVP</button>
</div>

<div id="alertDiv" class="page-header" hidden="yes">

</div>

<ul id="messageBarDiv" class=" navbar-fixed-bottom">
    <div class="input-group">
        <input id="usermsg" type="text" class="form-control" placeholder= "Message"  >
      <span class="input-group-btn">
        <button id="sendmsg" class="btn btn-default" type="button">Send</button>
      </span>
    </div><!-- /input-group -->
</ul>

<div id="signinDiv" class="container" hidden="yes">

    <form class="form-signin">
        <h3 class="form-signin-heading">Sign In</h3>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <!-- <div class="checkbox">
             <label>
                 <input type="checkbox" value="remember-me"> Remember me
             </label>
         </div> -->
     </form>
    <button id="signin" class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>

    </br>
     <button id="signup" class="btn btn-lg btn-primary btn-block" type="submit"  >Sign up</button>

 </div>

 <!--<ul class="pager navbar-fixed-bottom">
     <li><a href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">Open in app</a> </li>
 </ul> -->

</br>
<ol class="breadcrumb">
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/terms">TERMS</a></li>
    <p class="navbar-text navbar-right"> © 2017 SocialGroupe, Inc. </p>
</ol>
</br>

 <script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68774707-1', 'auto');
    ga('send', 'pageview');

</script>

<!--<div class="navbar-header" >
    <div class="container-fluid">
        <a class=" btn btn-lg navbar-text" href="/terms">Terms & Privacy Policy</a>
        <h6>© SocialGroupe, Inc. </h6>
    </div>
</div> -->

</body>
</html>

<script src="/javascripts/bundle.js"></script>
<script src="/javascripts/eventScripts.js"></script>