<!DOCTYPE html>
<html lang="en">
<head>

    <title>Hiikey</title>
    <link rel="icon" href="images/logo.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/profile" class="btn btn-default navbar-btn"><span class="fa fa-twitter"></span>Profile</a>
        </div>

    </div>
    <div class="navbar-header">
        <a href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
            <img href="" src="images/appstoreButton.png" class="img-responsive" alt="Connect" width="126" height="88">
        </a>
    </div>
</nav>

<!--<div class="container">
    <div class="jumbotron">
        <h1>Hiikey</h1>
        <p> The simplest way to Discover and Organize Events.</p>
        <a href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
            <img src="images/appstoreButton.png" class="img-responsive" alt="Connect" width="250" height="87">
        </a>

    </div>
</div>-->
<!--<img src="images/slideshow.gif" class="img-responsive" alt="Connect" width="621" height="1104"> -->

 <div class="row">
   <div class="col-md-6">
       <img src="images/explore.png" class="img-responsive" alt="Connect">
   </div>
   <div class="col-md-6">
       <img src="images/tickets.png" class="img-responsive" alt="Connect">
   </div></div>

<div class="row">
   <div class="col-md-6">
       <img src="images/attending.png" class="img-responsive" alt="Connect">
   </div>
   <div class="col-md-6">
       <img src="images/info.png" class="img-responsive" alt="Connect">
   </div></div>

<div class="row">
    <div class="col-md-6">
        <img src="images/checkin.png" class="img-responsive" alt="Connect">
    </div>
</div>

</body>
</html>