<!DOCTYPE html>
<html lang="en">
<head>

    <title>Sickcall</title>
    <link rel="icon" href="images/1080-noback.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link href="stylesheets/ask.css" rel="stylesheet">
</head>
<body>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >
          <img src="images/1080-noback.png" width="50" height="50" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/advisor">Advisors</a>
              <a class="nav-item nav-link" href="mailto:help@sickcallhealth.com">Support</a>
            </div>
          </div>
  </nav> 

  <div class="site-wrapper">
    
          <div class="site-wrapper-inner">

              <main role="main" class="inner cover">
                <br>
                <br>
                <h1 class="cover-heading">Welcome! We're Sickcall</h1>
                <p class="lead">We help you find out how serious your health concern is</p>
                <p class="lead">
                    <img src="images/appcoming.png" width="150" height="45" class="img-fluid"  alt="Responsive image">
                </p>
              </main>
    
            </div>
    
          </div>
    
        </div>
    

  <!-- -->
    <div class="container marketing">   
           
              <h2>Sickcall is made to help you navigate healthcare</h2>
              <p class="lead"> We work with registered nurses in the United States to provide you with information specific to your health concern. Should I go to the E.R.? Book a Doctor's appointment? What's happening to me? These are all questions that our Nurse Advisors can provide answers to.  </p>
              <hr class="featurette-divider">            
                <br>

          <h1 class="featurette-heading">Why Us</h1>
          <br>
              
              <div class="row featurette">
                  <div class="col-md-7 order-md-2">
                    <h2>We're Affordable</h2>
                    <p class="lead">We charge you the lowest price possible, while supplying quick and accurate information.</p>
                  </div>
                  <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="/images/website_screenshots/tolu.jpeg" alt="Screenshot 1">
                  </div>
                </div>
          <br>
                      <div class="row featurette">
                        <div class="col-md-7 order-md-2">
                          <h2>We're Accessible</h2>
                          <p class="lead">No health insurance or scheduling required. We're available 24/7 at your convenience. </p>
                        </div>
                        <div class="col-md-5 order-md-1">
                          <img class="featurette-image img-fluid mx-auto" src="/images/website_screenshots/gentlemen.jpeg" alt="Screen Shot 2">
                        </div>
                      </div> 
   
        
              <!-- START THE FEATURETTES -->
        
              <hr class="featurette-divider">

              <h1 class="featurette-heading">How Sickcall works</h1>
              <br>
        
              <div class="row featurette">
                <div class="col-md-7">
                  <h2>Record Your Question</h2>
                  <p class="lead">You'll have up to 60 seconds to explain your health concern in detail.  This will allow your Nurse Advisor to accurately provide information about your health concern.</p>
                </div>
                <div class="col-md-5">
                  <img class="featurette-image img-fluid mx-auto" src="/images/website_screenshots/1.png" alt="Screenshot 1">
                </div>
              </div>
        
              <br>
              <br>
              <br>
              <div class="row featurette">
                <div class="col-md-7 order-md-2">
                  <h2>Get a Reply</h2>
                  <p class="lead">Within minutes you'll have a reply from your Nurse Advisor with  information on how serious he or she thinks your heath concern is. </p>
                </div>
                <div class="col-md-5 order-md-1">
                  <img class="featurette-image img-fluid mx-auto" src="/images/website_screenshots/2.png" alt="Screen Shot 2">
                </div>
              </div>    
        
              <hr class="featurette-divider">
              
              <!-- /END THE FEATURETTES -->
              
              <h1 class="featurette-heading">What People Say</h1>
              <br>
                <div class="row">    
                    <div class="col-sm">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                              <h5>"It's like Google Search, but with a human Element."</h5>
                              <p class="lead">Charlie, Philadelphia PA</p>
                            </div>
                          </div>
                    </div><!-- /.col-lg-4 --> 
                    <div class="col-sm">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                              <h5>"I can get answers before I spend crazy amounts on healthcare."</h5>
                              <p class="lead">Laura, Raleigh NC</p>
                            </div>
                          </div>
                          </div>
                    </div><!-- /.col-lg-4 -->

                    </div>

                    <hr class="featurette-divider">
        
        
              <!-- FOOTER -->
              <footer>
                <p>&copy; 2017 Sickcall &middot; <a href="/terms">Terms & Privacy Policy</a> &middot; <a href="/about">About</a> &middot; <a href="mailto:help@sickcallhealth.com">Support</a> &middot; <a href="https://instagram.com/sickcallhealth"><img src="images/insta.png" width="25" height="25" class="img-fluid"  alt="Follow @Instagram"></a> &middot; <a href="https://twitter.com/sickcallhealth"><img src="images/twitter.png" width="25" height="25" class="img-fluid"  alt="Follow @Twitter"></a></p>
              </footer>
              <br>
        
            </div><!-- /.container -->


 </body>
 </html>