<!DOCTYPE html>
<html lang="en">
<head>

    <title>Hiikey</title>
    <link rel="icon" href="images/logo.png">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>

<div class="page-header">
    <div class="container-fluid">

        <h2>The Hiikey Site is Under Contruction </h2>

        <p>We'll be back shortly.</p>

    </div>
</div>

<!-- <img src="images/ELEVATE.png" class="img-responsive"  alt="...">

<div class="page-header">
    <div class="container-fluid">
        <h4>  Text me when Hiikey is Available </h4>
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon1">+1</span>
                <input type="text" class="form-control" placeholder="000-000-0000">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Text Me</button>
      </span>
            </div>
        </div>
    </div>
</div>

<div class="page-header">
    <div class="container-fluid">

        <h2>The F*** off Your Phone </h2>

        <p> Most of us have one, maybe two full days to let loose and enjoy the world like we were meant to.
            Hiikey will help you capture every crazy little thing you do this weekend and automatically add it
            to your memories. Don't worry though, you'll decide later who gets to enjoy your memories.</p>

        <H2>Log It</H2>

        <p>Whenever you're cooling off and ready to turn down for the night;
            check out your memories to decide which three videos sum up the day.
            We’ll merge them, you choose a cool popular song to go with it,
            and we’ll create the perfect video to be logged for your eyes-only or all your friends on social networks! </p>

    </div>
</div>

<div class="page-header">
    <div class="container-fluid">
        <h4>Text me when Hiikey is Available </h4>
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon1">+1</span>
                <input type="text" class="form-control" placeholder="000-000-0000">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Text Me</button>
      </span>
            </div>
        </div>
    </div>
</div> -->



<!--<div class="container">



</div> -->

<!-- <div class="container-fluid">
    <h1>Introducing Hiikey</h1>
    <h2>Capture Memories</h2>
    <h2>GET THE FUCK OFF YOUR PHONE</h2>
    <h2>& at the end of the night, create a video recap of your night and share it with your friends</h2>

    <h3>Notify me when Hiikey is available</h3>

    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">+1</span>
        <input type="text" class="form-control" placeholder="000-000-0000" aria-describedby="sizing-addon1">
    </div>
</div> -->

 <!-- <div class="navbar-header" >
     <div class="container-fluid">

         <a class="btn-default" href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
             <img href="" src="images/appstoreButton.png" class="img-responsive" alt="Available on The App Store" width="110" height="22">
         </a>
         <a class=" btn btn-lg navbar-text" href="/terms">Terms</a>
         <h6>© SocialGroupe, Inc. </h6>
     </div>
 </div> -->

 </body>
 </html>