<!DOCTYPE html>
<html lang="en">
<head>

    <title>Hiikey</title>
    <link rel="icon" href="images/logo.jpg">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Hiikey</h1>
        <p>The Best way to let your friends know where your at!</p>
        <a class="btn-default" href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
            <img href="" src="images/appstoreButton.png" class="img-responsive" alt="Available on The App Store" width="110" height="22">
        </a>
    </div>
</div>

<div class="page-header">

       <img src="images/friends.png" class="img-responsive" alt="Connect">

        <img src="images/explore.png" class="img-responsive" alt="Connect">

        <img src="images/directions.png" class="img-responsive" alt="Connect">

    <!-- <div class="row">
         <div class="col-md-6">
             <img src="images/friends.png" class="img-responsive" alt="Connect">
         </div>

         <div class="col-md-6">
             <img src="images/explore.png" class="img-responsive" alt="Connect">
         </div>

         <div class="col-md-6">
             <img src="images/directions.png" class="img-responsive" alt="Connect">
         </div>

     </div> -->

 </div>

 <div class="navbar-header" >
     <div class="container-fluid">

         <a class="btn-default" href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
             <img href="" src="images/appstoreButton.png" class="img-responsive" alt="Available on The App Store" width="110" height="22">
         </a>
         <a class=" btn btn-lg navbar-text" href="/terms">Terms</a>
         <h6>© SocialGroupe, Inc. </h6>
     </div>
 </div>

 </body>
 </html>