<!DOCTYPE html>
<html lang="en">
<head>

    <title>Hiikey</title>
    <link rel="icon" href="images/logo.png">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
<div class="page-header">
    <img src="images/ELEVATE.png" class="img-responsive"  alt="...">
</div>

<div class="container-fluid">
    <h2>DIY Is Here to Stay</h2>
    <p>Nowadays privacy and inclusion are so important in today's society, but it seems like
    every time the we take one step forward, we're forced to take two steps back. People who organize DIY, the underground, etc.
        should have the freedom to enjoy music and the arts however they see fit.
    Hiikey V3 was created to insure the DIY space continues to thrive and nurture underground artists. </p>

    <h2>The simplest way to organize Do It Yourself (DIY) events.</h2>
    <p> Promote your events without worrying about the event details falling into unwanted people's hands.
        For each event, you'll have a Hiikey generated code that will give people access.</p>
    <p>The event address is only available after people RSVP.
    Block people from your event by tapping on the person shown on the RSVP list.</p>
</div>

<div class="container-fluid"   >
    <img src="images/screenshot3.png" class="img-responsive"  alt="...">
    <img src="images/screenshot2.png" class="img-responsive"  alt="...">
    <img src="images/screenshot4.png" class="img-responsive"  alt="...">
    <img src="images/screenshot1.png" class="img-responsive"  alt="...">
</div>

 <div class="navbar-header" >
    <div class="container-fluid">
        <a class="btn-default" href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
            <img href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8" src="images/appstoreButton.png" class="img-responsive" alt="Available on The App Store" width="500" height="22" >
        </a>

        <a class=" btn btn-lg navbar-text" href="/terms">Terms & Privacy Policy</a>
        <h6>© SocialGroupe, Inc. </h6>
    </div>
</div>




<!--<div class="container">



</div> -->

<!-- <div class="container-fluid">
    <h1>Introducing Hiikey</h1>
    <h2>Capture Memories</h2>
    <h2>GET THE FUCK OFF YOUR PHONE</h2>
    <h2>& at the end of the night, create a video recap of your night and share it with your friends</h2>

    <h3>Notify me when Hiikey is available</h3>

    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">+1</span>
        <input type="text" class="form-control" placeholder="000-000-0000" aria-describedby="sizing-addon1">
    </div>
</div> -->

 <!-- <div class="navbar-header" >
     <div class="container-fluid">

         <a class="btn-default" href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
             <img href="" src="images/appstoreButton.png" class="img-responsive" alt="Available on The App Store" width="110" height="22">
         </a>
         <a class=" btn btn-lg navbar-text" href="/terms">Terms</a>
         <h6>© SocialGroupe, Inc. </h6>
     </div>
 </div> -->

 </body>
 </html>