<!DOCTYPE html>
<html lang="en">
<head>

    <title>Hiikey | Secret events for DIY, The Underground, House Parties, House Shows </title>
    <link rel="icon" href="images/logo.png">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
    <img src="images/hiikey-webheader.png" class="img-responsive"  alt="...">

<div class="container-fluid">
    <h2>Safe Spaces</h2>
    <p>Hiikey for secret events was inspired by the DIY community. DIY spaces aren't your traditional venues;
        they're houses, rooftops, backyards etc. A lot of these places choose to keep their location a secret to avoid unwanted attention.
        Hiikey was created to improve the process of organizing secret events.
    </p>

    <h2>Complete Control</h2>
    <p>
        Hiikey removes the friction between you (the organizer) and the guests you want at your events.
        You'll have complete control over access to your events' sensitive info. (location, messages, and guest list)
        This means that you and your guests can have conversations in the event chat without giving out hints about the events' whereabouts.
    </p>

    <p>
        Hiikey allows you to invite people to your events upon creation, giving your invitees instant access to the sensitive info.
        Everyone else will have to request access from you.
        All requests are sent through Hiikey, so you don't have to directly message anyone.
        Any guest's access to the event can be revoked later.
    </p>

    <p>
        The sensitive info is only accessible by your guest list, so it's safe to promote your events through all major social channels.

    </p>

    <h2>The Simplest Way to Organize Secret Events.</h2>

</div>


<div class="container-fluid"   >
    <a class="btn-default" href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
        <img href="" src="images/appstoreButton.png" class="img-responsive" alt="Available on The App Store" width="200" height="50">
    </a>
    <img src="images/1.png" class="img-responsive" width="400" height="600"  alt="...">
    <img src="images/2.png" class="img-responsive" width="400" height="600"  alt="...">
    <img src="images/3.png" class="img-responsive" width="400" height="600"  alt="...">
    <img src="images/4.png" class="img-responsive" width="400" height="600"  alt="...">
    <img src="images/5.png" class="img-responsive" width="400" height="600"  alt="...">
    <a class="btn-default" href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
        <img href="" src="images/appstoreButton.png" class="img-responsive" alt="Download on The App Store" width="200" height="50" >
    </a>
</div>

    </br>
    <ol class="breadcrumb">
        <li class="active">About</li>
        <li><a href="terms">Terms</a></li>
        <li><a href="home">Home</a></li>
    </ol>



<!--<div class="container">



</div> -->

<!-- <div class="container-fluid">
    <h1>Introducing Hiikey</h1>
    <h2>Capture Memories</h2>
    <h2>GET THE FUCK OFF YOUR PHONE</h2>
    <h2>& at the end of the night, create a video recap of your night and share it with your friends</h2>

    <h3>Notify me when Hiikey is available</h3>

    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">+1</span>
        <input type="text" class="form-control" placeholder="000-000-0000" aria-describedby="sizing-addon1">
    </div>
</div> -->

 <!-- <div class="navbar-header" >
     <div class="container-fluid">


         <a class=" btn btn-lg navbar-text" href="/terms">Terms</a>
         <h6>© SocialGroupe, Inc. </h6>
     </div>
 </div> -->

 </body>
 </html>