<!DOCTYPE html >

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Hiikey | Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->

    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>

<h6 id="objectId" hidden="yes" > <%= objectId %>   </h6>


<div class="container">

    <h1> H I I K E Y </h1>

    </br>
    </br>

     <ul class="nav nav-pills">
        <li href="#" id="signupButton" role="presentation" class="active"><a>Sign Up</a></li>
         <li href="#" id="signinButton" role="presentation"><a>Sign In</a></li>
         </ul>


    </br>

</div> <!-- /container -->

<div class="container-fluid" id="signin" hidden="yes"  >
    <form  class="form-signin" >
        <h3 class="form-signin-heading"> Sign In</h3>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </form>
    <button id="signinAction" class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>

</div>

<div class="container-fluid" id="signup"  >
    <form  class="form-signin">
        <h3 class="form-signin-heading">Sign Up</h3>
        <input type="text" id="signupUsername" class="form-control" placeholder="Username" required autofocus>
        <input type="email" id="signupEmail" class="form-control" placeholder="Email" required autofocus>
        <input type="password" id="signupPassword" class="form-control" placeholder="Password" required>
    </form>
    <button id="signupAction" class="btn btn-lg btn-default btn-block" type="submit">Sign up</button>
</div>

<nav aria-label="...">
    <ul class="pager">
        <li><a href="home" id="signoutButton" >Home</a></li>
    </ul>
</nav>

</body>
</html>

<script src="/javascripts/loginBundle.js"></script>
<script src="/javascripts/loginScripts.js"></script>


