<!DOCTYPE html >

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Hiikey | Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->

    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>

<h6 id="objectId" hidden="yes" > <%= objectId %>   </h6>

<div class="container">

    <ul class="nav nav-pills">
        <li id="signupButton" role="presentation" class="active"><a >Sign Up</a></li>
        <li id="signinButton" role="presentation"><a >Sign In</a></li>
    </ul>

    <h1> Hiikey</h1>
    <form id="signin" class="form-signin" hidden = "yes">
        <h3 class="form-signin-heading"> Sign In</h3>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button id="d" class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
    </form>

    <form id="signup" class="form-signin">
        <h3 class="form-signin-heading">Sign Up</h3>
        <input type="text" id="signupUsername" class="form-control" placeholder="Username" required autofocus>
        <input type="email" id="signupEmail" class="form-control" placeholder="Email" required autofocus>
        <input type="password" id="signupPassword" class="form-control" placeholder="Password" required>
    </form>
    <button id="signupAction" class="btn btn-lg btn-default btn-block" type="submit">Sign up</button>

    </br>

</div> <!-- /container -->

</body>
</html>

<script src="/javascripts/loginBundle.js"></script>
<script src="/javascripts/loginScripts.js"></script>


