<!DOCTYPE html>
<head>
    <title>Hiikey | Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <h1>Hiikey</h1>
    <form class="form-signin">
        <h3 class="form-signin-heading">Please sign in</h3>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button id="signin" class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
    </form>

    </br>
    <button id="signup" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

</div> <!-- /container -->

</body>

</html>

<script>

    $("#signin").click(function(){
        $.post("logins/signin",
         {
         username: document.getElementById('inputUsername').value,
         password: document.getElementById('inputPassword').value
         },
         function(data, status){
         // alert("Data: " + data + "\nStatus: " + status);

         if(status.success){
         alert("Signed in");
         }
         });
    });
</script>
