<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>New Event | Hiikey</title>

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom styles for this template
    <link href="navbar.css" rel="stylesheet"> -->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>

</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">H I I K E Y</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ><a href="home">Home</a></li>
                <li><a href="search">Search</a></li>
                <li  class="active" ><a href="create">Create Event</a></li>
                <li > <a href="profile">Profile</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

</br>
</br>
</br>

<div class="container-fluid">
    </br>

    <h1>Create an Event</h1>
    </br>

    <h3> Event Image <small class="astericks">*</small></h3>
    <img src="#" id="image"  alt="Upload Event Image " class="img-thumbnail" width="100" height="150">

    </br>
    </br>

    <input type="file" id="newEventImage" />

    <h3>Title <small class="astericks">*</small></h3>
    <input id="title" type="title" class="form-control" placeholder="Make it Short">

    </br>

    <h3>Address <small class="astericks">*</small></h3>
    <input id="address" type="text" class="form-control" placeholder="Event location">

    <h3>Description</h3>
    <textarea id="description" placeholder="Event details, band links, etc." class="form-control" rows="5"></textarea>

   <!-- <input placeholder="start date" id="date" type="text" class="form-control">

    <input placeholder="start time" id="time" type="text" class="form-control"> -->

    </br>


    <h3>Starts <small class="astericks">*</small></h3>

    <form class="form-inline">

        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Start Date</label>
            <input type="date" class="form-control" id="startDate" placeholder="Start Date">
        </div>
        <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Start Time</label>
            <input type="time" class="form-control" id="startTime" placeholder="Start Time">
        </div>

    </form>

    <h3>Ends <small class="astericks">*</small></h3>

    <form class="form-inline">

        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Start Date</label>
            <input type="date" class="form-control" id="endDate" placeholder="End Date">
        </div>

        <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Start Time</label>
            <input type="time" class="form-control" id="endTime" placeholder="End Time">
        </div>
    </form>

    </br>
    </br>
    </br>
    <button id="submitButton" class="btn btn-default" type="submit" >Create Event</button>
    </br>
    </br>
    </br>

    <!-- Modal if user isn't logged in -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign In / Sign Up to Create Event</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills">
                        <li href="#" id="signupButton" role="presentation" class="active"><a>Sign Up</a></li>
                        <li href="#" id="signinButton" role="presentation"><a>Sign In</a></li>
                    </ul>

                    <div class="container-fluid" id="signin" hidden="yes"  >
                        <form  class="form-signin" >
                            <h3 class="form-signin-heading"> Sign In</h3>
                            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </form>
                        <button  id="signinAction" class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>

                    </div>

                    <div class="container-fluid" id="signup"  >
                        <form  class="form-signin">
                            <h3 class="form-signin-heading">Sign Up</h3>
                            <input type="text" id="signupUsername" class="form-control" placeholder="Username" required autofocus>
                            <input type="email" id="signupEmail" class="form-control" placeholder="Email" required autofocus>
                            <input type="password" id="signupPassword" class="form-control" placeholder="Password" required>
                        </form>
                        <button id="signupAction" class="btn btn-lg btn-default btn-block" type="submit">Sign up</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- profile modal  -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Last Step! Update Your Profile</h4>
            </div>
            <div class="modal-body">

                <div id="fb-root"></div>
                <div  id="locationDiv" class="page-header" >

                    <div id="userInfo" class="container-fluid">
                        <img src="#" id="profileImage"  alt="Upload Profile Image" class="img-circle" width="100" height="100">

                        </br>
                        </br>

                        <input type="file" id="newProfilePhoto" />

                        </br>
                        </br>

                        <!--<button id="updatePhoto" class="btn btn-sm btn-default" type="submit">Update Profile Picture</button> -->

                        <form class="form-signin">
                            <h4 id="username" class="form-signin-heading"></h4>
                            <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="text" id="inputNumber" class="form-control" placeholder="Phone Number" required>
                        </form>

                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button id="updateInfo" class="btn btn-lg btn-default btn-block" type="submit">Update Info</button>
            </div>

        </div>
    </div>
</div>

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
                <img href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8" src="images/logo.png" class="img-responsive" alt="Available on The App Store" width="125" height="25" >
                <h4>Get the Hiikey App</h4>
                <p>Download the app to start planning events.</p>
            <a class="btn btn-primary" href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8" role="button">Get App</a>

        </div>
    </div>

</div> -->



</body>

<script>
    $('#startDate').datepicker({
    });

    $('#startTime').timepicker({
        useSelect: true,
        interval: 30,
        dynamic: true,
        dropdown: true,
        scrollbar: true
    });

    $('#endDate').datepicker({
    });

    $('#endTime').timepicker({
     useSelect: true,
        interval: 30,
        dynamic: true,
        dropdown: true,
        scrollbar: true
    });

</script>

<script id="digits-sdk" src="https://cdn.digits.com/1/sdk.js" async></script>
<script src="/javascripts/createBundle.js"></script>

</html>
