<!DOCTYPE html>
<html lang="en">
<head>

    <title>Sign up | Sickcall</title>
    <link rel="icon" href="images/32-noback.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link href="stylesheets/style.css" rel="stylesheet">
</head>


<body>

  <!--
  <div class="container marketing">   
        
     <!-- Three columns of text below the carousel 
     <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="images/clock.png" alt="Speed" width="140" height="140">
          <h2>Answers within 15 minutes</h2>
          <p>Our Sickcall nurse advisors are available 24/7 for your convenience and ease of mind.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 
        <div class="col-lg-4">
          <img class="rounded-circle" src="images/check.png" alt="verified" width="140" height="140">
          <h2>Verified U.S. registered nurses</h2>
          <p>We verify that our nurse advisors are registered nurses through their state’s board of nursing verification check.
             We only activate nurses with at least 1 year of experience and no blemishes in their nursing background. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 
        <div class="col-lg-4">
          <img class="rounded-circle" src="images/lock.png" alt="Secure" width="140" height="140">
          <h2>Sickcall protects your privacy</h2>
          <p>We’re Hipaa compliant. Our Sickcall advisors only have access to your question while answering and their access is revoked after they reply.
             Your questions are available to you at all times and we never share your info with 3rd parties. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 
      </div><!-- /.row 

      <p class="lead">
          <a href="/app" >
            <img src="images/appstore.png" width="150" height="45" class="img-fluid"  alt="Responsive image">                    
          </a>
        </p>
 
      
            <!-- START THE FEATURETTES 
      
            <hr class="featurette-divider">

            <h1 class="featurette-heading">How Sickcall works</h1>
            <br>
      
            <div class="row featurette">
              <div class="col-md-7">
                <h2>Record Your Question</h2>
                <p class="lead">You'll have up to 60 seconds to explain your health concern in detail.  This will allow your Nurse Advisor to accurately provide information about your health concern.</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="/images/website_screenshots/1.png" alt="Screenshot 1">
              </div>
            </div>
      
            <br>
            <br>
            <br>
            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2>Get a Reply</h2>
                <p class="lead">Within minutes you'll have a reply from your Nurse Advisor with  information on how serious he or she thinks your heath concern is. </p>
              </div>
              <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="/images/website_screenshots/2.png" alt="Screen Shot 2">
              </div>
            </div>    

            <p class="lead">
                <a href="/app" >
                  <img src="images/appstore.png" width="150" height="45" class="img-fluid"  alt="Responsive image">                    
                </a>
              </p>
      
            <hr class="featurette-divider">
            
            <!-- /END THE FEATURETTES 
            
            <h1 class="featurette-heading">What People Say</h1>
            <br>
              <div class="row">    
                  <div class="col-sm">
                      <div class="jumbotron jumbotron-fluid">
                          <div class="container">
                            <h5>"It's like Google Search, but with a human Element."</h5>
                            <p class="lead">Charlie, Philadelphia PA</p>
                          </div>
                        </div>
                  </div><!-- /.col-lg-4 --> 
                  <div class="col-sm">
                      <div class="jumbotron jumbotron-fluid">
                          <div class="container">
                            <h5>"I can get answers before I spend crazy amounts on healthcare."</h5>
                            <p class="lead">Laura, Raleigh NC</p>
                          </div>
                        </div>
                        </div>
                  </div><!-- /.col-lg-4 

                  </div>

                  <p class="lead">
                      <a href="/app" >
                        <img src="images/appstore.png" width="150" height="45" class="img-fluid"  alt="Responsive image">                    
                      </a>
                    </p>

                  <hr class="featurette-divider">


-->
    



</body>
    