<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- End Facebook Pixel Code -->

    <!-- Custom styles for this template
    <link href="navbar.css" rel="stylesheet"> -->

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li role="presentation"> <a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>

            </li>
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>

            </li>
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
            </li>
        </ul>
    </div>
</nav>

</br>
<div  id="locationDiv" class="page-header" >

    <div class="container-fluid">
        <img src="#" id="image"  alt="..." class="img-circle" width="100" height="100">

        </br>
        </br>

        <input type="file" id="newProfilePhoto" />

        </br>
        </br>

        <!--<button id="updatePhoto" class="btn btn-sm btn-default" type="submit">Update Profile Picture</button> -->

        <form class="form-signin">
            <h4 id="username" class="form-signin-heading"></h4>
            <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="text" id="inputNumber" class="form-control" placeholder="Phone Number" required>
        </form>
        <button id="updateInfo" class="btn btn-lg btn-default btn-block" type="submit">Update Info</button>

    </div>

    </div>
</div>

</body>

<script src="/javascripts/profileBundle.js"></script>
<script src="/javascripts/profileScripts.js"></script>