<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <title>Search | Hiikey</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

   <!-- <link href="/stylesheets/everythingStyle.css" rel="stylesheet"> -->
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">H I I K E Y</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ><a href="home">Home</a></li>
                <li class="active"  ><a href="search">Search</a></li>
                <li><a href="create">Create Event</a></li>
                <li  > <a href="profile">Profile</a></li>

            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>

</br>
</br>
</br>


 <div id="welcomeGroup"  class="container-fluid">
     <h2>Hiikey uses your location to find events near you. </h2>
     <button id="closeEventsButton" class="btn btn-lg" type="button">Find Events</button>
     <h4>OR</h4>
     <div  class="input-group" >
         <input id="searchValue" type="text" class="form-control" placeholder="City" aria-label="...">
         <div class="input-group-btn">
             <button id="searchButton" class="btn btn-default" type="button">Search</button>

         </div>
     </div>
 </div>

 <div id="noEventsGroup"  class="container-fluid" hidden="yes">
     <h4>We couldn't find any events</h4>
     <button id="noEventsButton" class="btn btn-default" type="button">Find events near me</button>
 </div>

 </br>
 </br>

 <div id="progress" class="container-fluid" >
     <div class="progress" hidden="yes">
         <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
             <span class="sr-only">100% Complete</span>
         </div>
     </div>
 </div>

<div  id="eventdiv" class="container-fluid" >

</div>

</body>
</html>

<script src="/javascripts/searchBundle.js"></script>
<script src="/javascripts/searchScripts.js"></script>