<!DOCTYPE html>
<html lang="en">
<head>

    <title>Sign up | Sickcall</title>
    <link rel="icon" href="images/32-noback.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" >
                  <img src="images/1080-noback.png" width="32" height="32" alt="">  
                  
                </a>
       
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
                    <div class="navbar-nav">
                      <a class="nav-item nav-link" href="/">Home</a>
                    </div>

                    <div class="navbar-nav">
                            <a class="nav-item nav-link" href="/advisor">Advisor</a>
                          </div>
                  </div>
          </nav> 

          <div class="embed-responsive embed-responsive-1by1 ">
                        <embed class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLScQHdvC_MeIGhIY3-H1FFbaIWd6NBrUhD06Y1orjS8TcSslYQ/viewform?embedded=true" >Loading...</embed>
                        
         </div>

         <div class="container">
                <hr class="featurette-divider">

                        <footer>
                                <p class="float-right"><a href="#">Back to top</a></p>
                                <p>&copy; 2017 Sickcall &middot; <a href="/">Home</a> &middot; <a href="/advisor">Advisor</a> &middot; <a href="/terms">Terms & Privacy Policy</a>  </p>
                        </footer>
         </div>
        
</body>
</html>

<script> </script> 


    