<!DOCTYPE html>
<html lang="en">
<head>

    <title>Terms | Sickcall</title>
    <link rel="icon" href="images/32-noback.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
        <nav class="navbar navbar-white bg-white">
                <a class="navbar-brand" href="/" >
                  <img src="images/1080-noback.png" width="32" height="32" alt="">
                  
                </a>
          </nav>

    <div class="container-fluid">
<h1> Terms and Conditions </h1>
<p>Sickcall is a mobile app that allows people to find out how serious their health concerns are from registered healthcare professionals. 
By registering for Sickcall, you accept and agree to the Terms and Conditions, and Privacy Policy provided below (collectively, the "Terms of Service").
 You hereby agree that you have read and understood the Terms of Service without any impairment in judgment resulting from (but not limited to) mental illness, mental handicap, intoxication, medication, or any other health or other problem that could impair judgment.
  If you do not agree to the Terms of Service, do not register for Sickcall. </p>
<h5>All users must be 18 years or older.</h3>
  
<p>The information on Sickcall is provided for general informational purposes only and IS NOT a substitute for professional medical advice (including but not limited to evaluation or care from your physician or other qualified healthcare provider).
     Nothing on Sickcall should be used for treating or diagnosing a medical or health condition or for replacing any relationship with your physician or other qualified healthcare provider.
      The health information furnished on Sickcall and the interactive responses furnished by or through Sickcall does not consist of professional medical advice.
       For medical concerns, including decisions about medications and other treatments, you agree to always consult your physician or other qualified healthcare professional.
        IN SERIOUS CASES, SEEK IMMEDIATE ASSISTANCE FROM EMERGENCY PERSONNEL AND IMMEDIATELY CONTACT THE EMERGENCY NUMBER IN YOUR COUNTRY.
         YOU MUST NEVER DISREGARD MEDICAL ADVICE OR DELAY IN SEEKING IT BECAUSE OF SOMETHING YOU HAVE READ ON SICKCALL.
          You agree that no medications, dietary supplements or treatments as may be described on Sickcall must be taken or begun without consulting your physician or other qualified healthcare provider first.
          Reliance on any information provided by Sickcall, including but not limited to by any professional, Sickcall employees, or other visitors to Sickcall, is solely at your own risk. </p>


<h1>Privacy Policy</h1>
<p>Any personal information Sickcall collects is used to further your Sickcall experience.
     All personal info that we collect is readily available and editable through the Sickcall mobile app.
    Personal information includes, but is not limited to name, profile picture, gender, birthday, height, weight, medical allergies, food allergies, medical history, and ongoing health issues.
    At the moment, we do not provide a way for users to access past payments through the Sickcall mobile app.
     If you wish to see past payments, inquire at: help@sickcallhealth.com  </p>

     <p>By asking a question or bringing up a health concern on Sickcall, you knowingly grant the chosen Sickcall advisor access to your personal information.
          Sickcall advisors do not have access to your personal information unless they are chosen by our automated algorithms to answer your health concern.
           Once they answer or skip the question, they are IMMEDIATELY revoked all access to your personal information.
            If you wish to limit your Sickcall advisor's access to your personal information, simply edit your personal information through the Sickcall mobile app before asking your question.
              By canceling your question, you instantly revoke your Sickcall advisor's access to your personal information.  </p>

     <p>Sickcall employees do not have direct access to your personal information.
          We have specific employees who are internally trained to handle sensitive personal information.
           Because of our practices, these trained employees only have access to your personal information when requested by a specific Sickcall user.  </p>

     <p>If you have any concerns or complaints regarding your personal information, please send them to our privacy official at: complaint@sickcallhealth.com </p>
   
     <hr>

     <!-- <footer>
            <p>&copy; Sickcall LLC. 2017</p>
          </footer> -->

          <footer>
                <p class="float-right"><a href="#">Back to top</a></p>
                <p>&copy; 2017 Sickcall &middot; <a href="/">Home</a></p>
              </footer>
    </div>
</body>