<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <p>
                <button class="btn btn-large btn-primary" type="button">Large button</button>

            </p>

        </div>
        <div class="span10">
            <!--Body content-->
            <p> <button class="btn btn-large" type="button">Hello</button></p>
        </div>
    </div>
</div>

</body>
</html>