<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="/stylesheets/everythingStyle.css" rel="stylesheet">

</head>
<body>

<nav id="navBar" class="navbar navbar-default navbar-fixed-top">
    <a class="navbar-brand" href="/home">
        <img alt="EXIT">
    </a>

    <h4><%= user %>'s Events </h4>
</nav>

</br>
</br>
</br>
</br>

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li id="host" role="presentation" class="active"><a>Hosting</a></li>
        <li id="guest" role="presentation"><a>Attending</a></li>
    </ul>
</div>

<div  id="hostdiv" class="container-fluid"  >

</div>

<div  id="guestdiv" class="container-fluid" hidden="yes" >

</div>

</body>
</html>

<script src="/javascripts/userBundle.js"></script>
