<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <title>H I I K E Y</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- <link href="/stylesheets/everythingStyle.css" rel="stylesheet"> -->
    <link href="/stylesheets/search.css" rel="stylesheet">
</head>
<body>

<!--<nav id="navBar" class="navbar navbar-default navbar-fixed-top">

</nav> -->
<div id="welcomeGroup" class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">H I I K E Y</h3>
                    <nav>
                        <ul id="navBar" class="nav masthead-nav">
                            <li role="presentation"> <a href="/logins"> Sign In | Sign Up </a></li>
                            <li role="presentation"> <a href="/create"> Create an Event </a></li>
                            <li role="presentation"> <a href="/search"> Find Events </a></li>

                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h3>Hiikey is the simplest way to organize and discover secret events. </h3>
                <p class="lead">
                    <a href="/about" class="btn btn-lg btn-default">Learn more</a>
                </p>
            </div>

            <!-- <div class="mastfoot">
                <div class="inner">
                    <p> © 2017 SocialGroupe, Inc. | <a class="learnMore" href="/about">About </a> |  <a class="learnMore" href="/terms">Terms & Conditions</a> </p>
                </div>
            </div> -->

        </div>

    </div>

</div>

</body>
</html>


<script src="/javascripts/welcomeBundle.js"></script>
<script src="/javascripts/welcomeScripts.js"></script>