



 a {
 color: #159373;

 }


 .astericks {
    font: 50px "Aileron Heavy", Helvetica, Arial, sans-serif;
    color: #159373; /* IE8 proofing */
    color: rgb(21, 147, 115);
 }

 .paragraph{
    font: 30px "Aileron Regular", Helvetica, Arial, sans-serif;
 }

 .jumbo{
     color: #ffffff;
 }

 



