


 body {

 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 }

 a {
 color: #ee1848;

 }

 .astericks {
  color: #EE1848; /* IE8 proofing */
  color: rgba(238,24,72,10);
 }

 .messageBar{
  margin-top: 8px;
 }

