<!DOCTYPE html>
<html lang="en">
<head>

    <title>Terms | Hiikey</title>
    <link rel="icon" href="images/logo.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

<div class="page-header">
    <div class="container-fluid">
        <H1>Hiikey Terms</H1>

        <H2>About Hiikey:</H2>

        <p>
            Hiikey is the simplest way to organize Do it Yourself (DIY) events. You create an event and then Hiikey
            will text your friends the link to the event page where they can get directions, see who else is going, and live chat.
            We do this through our websites and domains,
            the services available on or through our websites and domains or otherwise provided by us,
            and the software available on or through our websites and domains or otherwise provided by
            us (including our mobile application the Hiikey app. (collectively, the "Services").
        </p>


        <H2>Our Privacy Policy:</H2>

        <p>Hiikey respects your rights to privacy. The information we collect is used to further the experience of all Hiikey registered users.</p>

        <h2>Our User Agreement:</h2>

        <p>By using Hiikey, you agree to post content that is not considered objectionable by the Hiikey moderators or Hiikey users.
            Objectionable content may include and is not limited to: nudity, extreme profanity, and hateful speech.
            If we conclude from our internal investigation that such content violates the Hiikey user agreement terms,
            the content will be removed from Hiikey and the user who posted the content will be banned from Hiikey.
            If the Hiikey moderators conclude from our internal investigation that such activity violates the agreement terms,
            the content will be removed from Hiikey and the registered user who posted the content will be banned from Hiikey INDEFINITELY.
            You also agree that by using Hiikey, SocialGroupe Incorporated is not liable for anything that may happen before,
            during, or after any event that is posted on Hiikey.</p>

        <h3>Contacting Hiikey:</h3>

        <p>
            Please feel free to contact us if you have any questions about this Privacy Policy,
            Refund Policy, User Agreement, or our information practices.
            You may contact us by emailing to help@hiikey.com.

        </p>

    </div>
</div>
<div class="container-fluid">

</div>

<ol class="breadcrumb">
    <li><a href="/about" >About</a></li>
    <li class="active">Terms</li>
    <p class="navbar-text navbar-right"> © 2017 SocialGroupe, Inc. </p>
</ol>

</body>
</html>