<!DOCTYPE html >

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Hiikey | Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->

    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>

<h6 id="objectId" hidden="yes" > <%= objectId %>   </h6>


<div class="container">

    <h1> H I I K E Y </h1>

    </br>
    </br>

     <ul class="nav nav-pills">
        <li href="#" id="signupButton" role="presentation" class="active"><a>Sign Up</a></li>
         <li href="#" id="signinButton" role="presentation"><a>Sign In</a></li>
         <li href="#" id="forgotPasswordButton" role="presentation"><a>Forgot Password</a></li>
     </ul>


    </br>

</div> <!-- /container -->

<div class="container-fluid" id="signin" hidden="yes"  >
    <form  class="form-signin" >
        <h3 class="form-signin-heading"> Sign In</h3>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </form>
    <button id="signinAction" class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>

</div>

<div class="container-fluid" id="signup"  >
    <form  class="form-signin">
        <h3 class="form-signin-heading">Sign Up</h3>
        <input type="text" id="signupUsername" class="form-control" placeholder="Username" required autofocus>
        <input type="email" id="signupEmail" class="form-control" placeholder="Email" required autofocus>
        <input type="password" id="signupPassword" class="form-control" placeholder="Password" required>
    </form>
    <button id="signupAction" class="btn btn-lg btn-default btn-block" type="submit">Sign up</button>
</div>

<div class="container-fluid" id="forgotpassword" hidden="yes" >
    <form  class="form-signin">
        <h3 class="form-signin-heading">Forgot Password</h3>
        <input type="email" id="forgotpasswordEmail" class="form-control" placeholder="Email" required autofocus>
    </form>
    <button id="forgotPasswordAction" class="btn btn-lg btn-default btn-block" type="submit">Reset Password</button>
</div>

<nav aria-label="...">
    <ul class="pager">
        <li><a href="/" id="signoutButton" >Home</a></li>
    </ul>
</nav>

</body>
</html>

<script src="/javascripts/loginBundle.js"></script>


